# Assignment 4

### 1. Write a Python program to find those numbers which are divisible by 8 and 3 but multiple of 9, between 1000 and 1800 (both included).

In [1]:
a=[]
for x in range(1000, 1800):
    if (x%7==0) and (x%5==0):
        a.append(str(x))
print (','.join(a))

1015,1050,1085,1120,1155,1190,1225,1260,1295,1330,1365,1400,1435,1470,1505,1540,1575,1610,1645,1680,1715,1750,1785

### 2) touple = ('I','E','E','E','H','S','T','U','S','B')
### Using this touple, write a program whose output will be IEEE HSTU SB.

In [38]:
touple = ('I','E','E','E','H','S','T','U','S','B')
x =""
for a in range(0,4):
    x = x + touple[a];
y=""
for b in range(4,8):
    y = y + touple[b];
z=""
for b in range(8,10):
    z = z + touple[b];
    
print(x,y,z)

IEEE HSTU SB

### 3) Write a Python program to check a triangle is equilateral, isosceles or scalene.
        Note :
        An equilateral triangle is a triangle in which all three sides are equal.
        A scalene triangle is a triangle that has three unequal sides.
        An isosceles triangle is a triangle with (at least) two equal sides.

In [1]:
x = int(input("x="))
y = int(input("y="))
z = int(input("z="))

if x == y == z:
    print("Equilateral triangle")
elif x==y or y==z or z==x:
    print("isosceles triangle")
else:
    print("Scalene triangle")

x=12
y=15
z=14
Scalene triangle

### 4) Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [2]:

for i in range(1,11):
    print("\n\nMULTIPLICATION TABLE FOR %d\n" %(i))
    for j in range(1,11):
        print("%-5d X %5d = %5d" % (i, j, i*j))

MULTIPLICATION TABLE FOR 1

1     X     1 =     1
1     X     2 =     2
1     X     3 =     3
1     X     4 =     4
1     X     5 =     5
1     X     6 =     6
1     X     7 =     7
1     X     8 =     8
1     X     9 =     9
1     X    10 =    10


MULTIPLICATION TABLE FOR 2

2     X     1 =     2
2     X     2 =     4
2     X     3 =     6
2     X     4 =     8
2     X     5 =    10
2     X     6 =    12
2     X     7 =    14
2     X     8 =    16
2     X     9 =    18
2     X    10 =    20


MULTIPLICATION TABLE FOR 3

3     X     1 =     3
3     X     2 =     6
3     X     3 =     9
3     X     4 =    12
3     X     5 =    15
3     X     6 =    18
3     X     7 =    21
3     X     8 =    24
3     X     9 =    27
3     X    10 =    30


MULTIPLICATION TABLE FOR 4

4     X     1 =     4
4     X     2 =     8
4     X     3 =    12
4     X     4 =    16
4     X     5 =    20
4     X     6 =    24
4     X     7 =    28
4     X     8 =    32
4     X     9 =    36
4     X    10 =    40


MULTIPLICATION TABLE FOR 5

5     X     1 =     5
5     X     2 =    10
5     X     3 =    15
5     X     4 =    20
5     X     5 =    25
5     X     6 =    30
5     X     7 =    35
5     X     8 =    40
5     X     9 =    45
5     X    10 =    50


MULTIPLICATION TABLE FOR 6

6     X     1 =     6
6     X     2 =    12
6     X     3 =    18
6     X     4 =    24
6     X     5 =    30
6     X     6 =    36
6     X     7 =    42
6     X     8 =    48
6     X     9 =    54
6     X    10 =    60


MULTIPLICATION TABLE FOR 7

7     X     1 =     7
7     X     2 =    14
7     X     3 =    21
7     X     4 =    28
7     X     5 =    35
7     X     6 =    42
7     X     7 =    49
7     X     8 =    56
7     X     9 =    63
7     X    10 =    70


MULTIPLICATION TABLE FOR 8

8     X     1 =     8
8     X     2 =    16
8     X     3 =    24
8     X     4 =    32
8     X     5 =    40
8     X     6 =    48
8     X     7 =    56
8     X     8 =    64
8     X     9 =    72
8     X    10 =    80


MULTIPLICATION TABLE FOR 9

9     X     1 =     9
9     X     2 =    18
9     X     3 =    27
9     X     4 =    36
9     X     5 =    45
9     X     6 =    54
9     X     7 =    63
9     X     8 =    72
9     X     9 =    81
9     X    10 =    90


MULTIPLICATION TABLE FOR 10

10    X     1 =    10
10    X     2 =    20
10    X     3 =    30
10    X     4 =    40
10    X     5 =    50
10    X     6 =    60
10    X     7 =    70
10    X     8 =    80
10    X     9 =    90
10    X    10 =   100

### 5) Write a python program to check whether a given year is a leap year

In [3]:
year=int(input("Enter year to be checked: "))
if(year%4==0 and year%100!=0 or year%400==0):
    print("The year is a leap year!")
else:
    print("The year isn't a leap year!")

Enter year to be checked: 2058
The year isn't a leap year!

### 6) Write the programs to get the areas of a) triangle, b)Rectangle, c) circle.Â¶

In [7]:
x = float(input('First side: '))  
y = float(input('Second side: '))  
z = float(input('Third side: '))  
   
s = (x + y + z) / 2  
   
area = (s*(s-x)*(s-y)*(s-z)) ** 0.5  
print('The area of the triangle is %0.2f' %area)

First side: 14
Second side: 15
Third side: 16
The area of the triangle is 96.56

In [8]:
length = int(input("Length"))
width = int(input("Width"))
area = length * width
print("Area", area)

Length4
Width5
Area 20

In [9]:
PI = 3.14
radius = float(input('Radius of a circle: '))
area = PI * radius * radius
print(" Area = %.2f" %area)

Radius of a circle: 4
 Area = 50.24